*{
    font-family: open sans,microsoft jhenghei,sans-serif;
    color: #333;
    font-weight: bolder;
    margin: 0px;
    font-weight: 600;
    transition: all .25s;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-size: 20px;
}
.card{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 80%;
    border-radius: .3em;
    padding: 2% 2.5%;
    box-shadow: 0em 0em 0.2em 0 rgb(0 0 0 / 40%);
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    align-items: center;
}
hr{
    box-shadow: 0em .01em 0.1em 0 rgb(0 0 0 / 25%);
}
.info{
    font-size: 1.2rem;
}
.info h1{
    font-size: 1.5rem;
}
.tags{
    margin-top: .2em;
    font-size: 1rem;
}
.tag{
    padding: 1% 1%;
    border-radius: .5em;
    background: rgba(51, 51, 51, 0.39);
    color: #fff;
}
header img{
    border-radius: 100%;
    width: 6em;
    border: solid .2em #333;
}
article{
    padding: 1%;
    width: 80%;
}
.skill{
    width: 100%;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-around;
}
.skills{
    font-size: 1.2rem;
}
.skills h2{
    margin-bottom: .7em;
    font-size: 1.3em;
}
.skills .block{
    margin-bottom: .7em;
}
.skills .block p{
    margin-left: .5em;
}
.side{
    display: flex;
    flex-direction: column;
}
.project{
    margin-top: 2%;
}
.arti{
    display: flex;
    font-size: 1.17em;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}
.arti h2{
    font-size: 1.2em;
}
.arti p{
    font-size: .8em;
    margin-bottom: 1.2em;
}
.arti img{
    cursor: pointer;
    border: none;
    border-radius: 0%;
    width: 30%;
    box-shadow: 0em 0em 0.5em 0 rgb(0 0 0 / 50%);
}
.arti img:hover{
    width: 30.5%;
}
.arti p img{
    width: 1em;
    box-shadow:none;
}
.arti p img:hover{
    width: 1em;
}
@media screen and (max-width: 480px){
    body{
        font-size: 10px;
    }
    .info,.skills{
        font-size: 1rem;
    }
    .info h1{
        font-size: 1.25rem;
    }
    .tag{
        font-size: .03rem;
    }
    .arti img{
        width: 15%;
    }
}